html,
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 0px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}


a:hover {
    text-decoration: none !important;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

:root {
    --value: 40%;
    --back-color: #EBECF0;
}

body {
    background-color: var(--back-color);
    text-align: center;
    justify-content: center;
}

.btn:focus {
    outline: none !important;
}

.neumorphic-btn {
    font-size: 20px;
    border: none;
    padding: 10px 40px;
    border-radius: 40px;
    color: #6D7587;
    background-color: var(--back-color);
    /*box-shadow: 3px 4px 6px 1px rgba(0, 0, 0, 0.3),
                -2px -2px 4px 2px rgba(255, 255, 255, 1),
                inset -14px -14px 20px -10px rgba(0, 0, 0, 0.1),
                inset 14px 14px 20px -10px rgba(255, 255, 255, 0.5) !important;  */
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, .2),
    inset 7px 7px 15px rgba(55, 84, 170, 0),
    inset -7px -7px 20px rgba(255, 255, 255, 0),
    0px 0px 4px rgba(255, 255, 255, 0) !important;
    transition: box-shadow .25s ease !important;
}

.neumorphic-btn:active {
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0),
    inset 7px 7px 15px rgba(55, 84, 170, .15),
    inset -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, .2) !important;
}

.neumorphic-progress, .neumorphic-slider {
    width: 260px;
    margin: auto;
}

.neumorphic-progress__back, .neumorphic-slider__back {
    height: 24px;
    background-color: var(--back-color);
    border-radius: 10px;
    border: 4px solid #f3f4f7;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0),
    inset 7px 7px 15px rgba(55, 84, 170, .15),
    inset -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, .2) !important;
}

.neumorphic-slider {
    width: 240px;
}

.neumorphic-slider__back {
    width: calc(100% + 20px);
    margin-left: -10px;
}

.neumorphic-progress__line {
    width: var(--value);
    height: 16px;
    background-color: #185BF1;
    margin-top: -20px;
    margin-left: 4px;
    border-radius: 8px;
    opacity: 1;
    animation: sliding 3s ease infinite;
}

@keyframes sliding {
    0% {
        width: 0;
    }
    100% {
        width: calc(100% - 8px);
    }
}

.neumorphic-slider {
    position: relative;
}

.neumorphic-slider__line {
    height: 16px;
    background-color: #185BF1;
    margin-top: -20px;
    margin-left: -6px;
    border-radius: 8px;
    opacity: 1;
    width: calc(var(--value) + 4px);
}

.neumorphic-slider__thumb {
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), 0px 0px 15px rgba(55, 84, 170, .3);
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: var(--back-color);
    left: var(--value);
    top: 2px;
    margin-left: -10px;
    cursor: pointer;
}

.neumorphic-slider__popover {
    position: absolute;
    background-color: var(--back-color);
    left: var(--value);
    width: 60px;
    height: 40px;
    top: -60px;
    margin-left: -30px;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, .2);
    color: #6D7587;
    padding: 8px 0;
}

.neumorphic-slider__popover::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -6px;
    left: 50%;
    margin-left: -6px;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: var(--back-color) transparent transparent transparent;
}

.neumorphic-text {
    color: #a3aab9;
    margin: auto 30px;
    font-size: 22px;
}

.neumorphic-checkbox {
    padding: 20px;
    position: relative;
    margin: 0 5px;
    transition: all .25s ease;
}

.neumorphic-checkbox::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #a3aab9;
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .25s ease;
}

.neumorphic-checkbox_active {
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0),
    inset 7px 7px 15px rgba(55, 84, 170, .15),
    inset -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, .2) !important;
}

.neumorphic-checkbox_active::after {
    background-color: #a3aab9;
}

.neumorphic-card {
    display: block;
    background-color: var(--back-color);
    padding: 60px;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, .2) !important;
    border-radius: 30px;
    max-width: 600px;
    width: min-content;
}

.neumorphic-card__title {
    color: #555F76;
    font-size: 22px;
    padding: 20px 0 10px;
    text-align: start;
}

.neumorphic-card__text {
    padding: 0 0 10px;
    text-align: start;
    color: #8D96A8;
}

.neumorphic-card__outer {
    background-color: #f3f4f7;
    border-radius: 10px;
    border: 5px solid #f3f4f7;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, .2) !important;
    margin: -5px;
}

.neumorphic-label {
    color: #868b98;
    display: block;
    text-align: start;
    margin: 25px 10px 5px;
}

.neumorphic-input {
    background-color: var(--back-color);
    border-radius: 10px;
    border: 0px solid #f3f4f7;
    box-shadow: 2px 2px 3px rgb(235 236 240),
    inset 0px 0px 4px rgba(255, 255, 255, 0),
    inset 7px 7px 15px rgba(55, 84, 170, .15),
    inset -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, .2) !important;
    padding: 5px 15px;
    outline: none !important;
    color: #535D74;
}

.neumorphic-image {
    border-radius: 10px;
}

.neumorphic-image__wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50% !important;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid var(--back-color);
    box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0),
    inset 3px 3px 5px rgba(55, 84, 170, .15),
    inset -3px -3px 5px rgba(255, 255, 255, .5),
    0px 0px 4px rgba(255, 255, 255, .2) !important;
}

.neumorphic-image__placeholder {
    color: #565e74;
    font-size: 30px;
    padding: 25px 0 0 0;
}

.card-collection .neumorphic-card {
    display: inline-block;
    margin: 0 10px !important;
}

.neumorphic-outer {
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, .2) !important;
    background-color: var(--back-color);
    border-radius: 30px;
}

.neumorphic-inner {
    box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0),
    inset 7px 7px 15px rgba(55, 84, 170, .15),
    inset -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, .2) !important;
    border-radius: 10px;
}

.neumorphic-tab-container {
    display: flex;
    flex-direction: column;
}

.neumorphic-tab-container__controls {
    display: flex;
    border: 4px solid var(--back-color);
    width: min-content;
    background-color: var(--back-color);
    border-radius: 15px;
    margin-bottom: 15px;
}

.neumorphic-tab-container__control {
    padding: 10px 10px;
    color: #535D74;
    background-color: var(--back-color);
    box-shadow: inset 0px 0px 4px rgba(255, 255, 255, .2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0);
    transition: box-shadow .4s ease;
    cursor: pointer;
}

.neumorphic-tab-container__control:first-child {
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

.neumorphic-tab-container__control:last-child {
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
}

.neumorphic-tab-container__control_active {
    box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0), inset 7px 7px 15px rgba(55, 84, 170, .15), inset -7px -7px 20px rgba(255, 255, 255, 1);
}

.neumorphic-tab-container__tab {
    display: none;
    padding: 20px;
}

.neumorphic-tab-container__tab_shown {
    display: flex;
}


body {
    font-family: monospace !important;
    font-weight: bold !important;
    color: rgba(255, 255, 255, 0.6) !important;
    height: 100vh;
}


/* .box {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}  */


/* Background circles start */
.circle {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(120deg, #1D976C, #2c3e50);
}

.circles {
    position: absolute;
    height: 270px;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.circle-1 {
    height: 300px;
    width: 300px;
    top: 100px;
    left: -50px;
    opacity: 0.8;
    animation-timing-function: cubic-bezier(0.54, 0.085, 0.5, 0.92);
    animation-iteration-count: infinite;
    animation-name: float;
    -webkit-animation-name: float;
    animation-duration: 6s;
    -webkit-animation-duration: 6s;
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
    animation-direction: alternate;

}

.circle-2 {
    height: 240px;
    width: 240px;
    bottom: 40px;
    right: -100px;
    opacity: 0.8;
    animation-timing-function: cubic-bezier(0.54, 0.085, 0.5, 0.92);
    animation-iteration-count: infinite;
    animation-name: float;
    -webkit-animation-name: float;
    animation-duration: 6s;
    -webkit-animation-duration: 6s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    animation-direction: alternate;
}

/* Background circles end */


/* ANIMATIONS */
@keyframes explode {
    0% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes float {

    0% {
        -webkit-transform: rotateX(0deg) translateY(0px);
        -moz-transform: rotateX(0deg) translateY(0px);
        -ms-transform: rotateX(0deg) translateY(0px);
        -o-transform: rotateX(0deg) translateY(0px);
        transform: rotateX(0deg) translateY(0px);
    }

    50% {
        -webkit-transform: rotateX(0deg) translateY(1px) translateX(5px);
        -moz-transform: rotateX(0deg) translateY(10px) translateX(5px);
        -ms-transform: rotateX(0deg) translateY(30px) translateX(5px);
        -o-transform: rotateX(0deg) translateY(40px) translateX(5px);
        transform: rotateX(0deg) translateY(10px) translateX(5px);
    }
    100% {
        -webkit-transform: rotateX(0deg) translateY(0px) translateX(1px);
        -moz-transform: rotateX(0deg) translateY(0px) translateX(1px);
        -ms-transform: rotateX(0deg) translateY(0px) translateX(1px);
        -o-transform: rotateX(0deg) translateY(0px) translateX(1px);
        transform: rotateX(0deg) translateY(0px) translateX(1px);
    }

}

.mdl {
    height: auto;
    width: 420px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-60%, -60%);

}

h1 {

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding-left: 30px;
    padding-bottom: 20px;
    color: #ffffff;
    width: 420px;
    line-height: 1.5em;
    text-align: left;
}

.blur {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(35px);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.expiration-date {
    font-family: 'Space Mono', monospace;
    padding: 0px 0px 0px 0px;
    margin-right: 60px;
    width: 80px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.ccv {
    font-family: 'Space Mono', monospace;
    padding: 0px 0px 0px 0px;
    margin-right: 0px;
    width: 60px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.custom-panel {
    padding: 15px;
    border-radius: 50px;
    background: #1c1c1c;
    box-shadow: 13px 13px 27px #151515,
    -13px -13px 27px #232323;
}

a {
    color: rgba(250, 250, 250, 0.6);
}

a:hover {
    color: rgba(10, 205, 189, 0.6);
    text-decoration: none;
}

.custom-btn {
    color: rgba(255, 255, 255, 0.6) !important;
    font-size: 14px;
    padding: 14px;
    border-radius: 50px;
    background: #1c1c1c;
    box-shadow: 13px 13px 27px #151515,
    -13px -13px 27px #232323;
}

.custom-btn:hover {
    color: rgba(10, 189, 205, 0.6) !important;
    border-radius: 50px;
    background: #1c1c1c;
    box-shadow: inset 13px 13px 27px #151515,
    inset -13px -13px 27px #232323;
}

a.asc:after {
    content: none;
}

a.desc:after {
    content: none;
}

.custom-table {
    color: rgba(255, 255, 255, 0.6) !important;
}

.custom-table tbody tr:hover {
    background: rgba(255, 255, 255, 0.15);
}

.custom-scroll-table {
    overflow: visible;
}

@media (max-width: 768px) {
    .custom-scroll-table {
        overflow: scroll !important;
    }
}

.custom-input {
    border: 0 !important;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(175, 181, 189, 0.6);
    background-clip: padding-box;
    border-radius: 50px;
    background: #1c1c1c;
    box-shadow: inset 13px 13px 27px #151515,
    inset -13px -13px 27px #232323;
}

:focus-visible {
    outline: none;
    background: none;
}